<%#aa = Student.create(:first_name => "boop", :last_name => "LOOP")%>
<%#a = Student.create(:first_name => "Jump", :last_name => "Jack")%>
<%#@students = [a, aa]%>
<div>
  <% @students.each do |student| %>
    <%# student.first_name + " " + student.last_name %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>